### all ignore ###
/*
/.**

### not ignre ###
!/.Xmodmap
!/.config/
!/.config/alacritty/
!/.config/alacritty/**
!/.config/memo/
!/.config/memo/**
!/.config/ulauncher/
!/.config/ulauncher/settings.json
!/.config/ulauncher/extensions.json
!/.config/ulauncher/shortcuts.json
!/.config/starship.toml
!/.gitconfig
!/.gitconfig.local
!/.gitignore
!/.tmux.conf
!/.vimrc
!/.vim/
!/.vim/**
!/.xprofile
!/.zprofile
!/.zshrc
!/README.md
!/install
!/target_list
