### all ignore ###
/*
/.**

### not ignre ###
!/.Xmodmap
!/.config/
!/.config/alacritty/
!/.config/alacritty/**
!/.config/memo/
!/.config/memo/**
!/.config/ulauncher/
!/.config/ulauncher/settings.json
!/.config/ulauncher/extensions.json
!/.config/ulauncher/shortcuts.json
!/.config/starship.toml
!/.config/zellij/
!/.config/zellij/config.yaml
!/.gitconfig
!/.gitconfig.local
!/.gitignore
!/.git_template/
!/.git_template/**
!/.tmux.conf
!/.vimrc
!/.vim/
!/.vim/plugins/
!/.vim/plugins/**
!/.vim/rc/
!/.vim/rc/**
!/.vim/templates/
!/.vim/templates/**
!/.xprofile
!/.zprofile
!/.zshrc
!/README.md
!/install
