[include]
	path = ~/.gitconfig.local
[color]
	status = auto
	diff = auto
	branch = auto
[core]
	autocrlf = input
	editor = vim -c \"set fenc=utf-8\"
[alias]
	st = status -s
	stat = status
	br = branch
	co = checkout
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[push]
	default = current
[pull]
	rebase = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[init]
	templatedir = ~/.git_template/
[ghq]
	root = ~/.ghq/src
[credential "https://github.com"]
	helper = 
	helper = !/home/m3y/.local/share/mise/installs/github-cli/2.44.1/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/m3y/.local/share/mise/installs/github-cli/2.44.1/bin/gh auth git-credential
